html, body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;
}

.logo{
    width: 150px;
    height: 50px;
    padding-left: 50px;
    float: left;
}

img{
    height: 50px;
    margin-top: 13px;
}

.nav-con{
    width: 750px;
    height: 50px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 25px;
    float: left;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 50px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto 0;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff, 0px 0px 30px #ff00ff, 0px 0px 40px #ff00ff;
}

.nav-con li:hover{
    color: #ff00ff;
    cursor: pointer;
    height: 30px;
}

.active{
   font-weight: bold;
}


.search-container {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-left: 280px;
}
  
.search-container form{
    display: flex;
    align-items: center;
    margin-top: 15px; 
}
  
.form1 input[type="text"] {
    padding: 15px;
    border-radius: 40px;
    border-color: #ff00ff;
    font-size: 12px;
    height: 35px;
    background-color: rgb(0, 0, 0, 0.6);
    width: 255px;
    color:#ff00ff;
}
  
.search-container button {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0);
    background-image: url(../assets/icon_search.svg);
    background-size: cover;
    border: none;
    border-radius: 0px;
    margin-left: -35px;
    font-size: 16px;
    cursor: pointer;
}
  
.search-container button:hover {
    background-image: url(../assets/icon_search.svg);
}

header{
    width: 100%;
    height: 900px;
    background-image: url(../assets/guillaume-techer-Jm9P0mDPo6A-unsplash.jpg);/* Photo by <a href="https://unsplash.com/@guillaume_t?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Guillaume TECHER</a> on <a href="https://unsplash.com/photos/Jm9P0mDPo6A?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 300px;
    padding-left: 122px;
    margin-top:-80px;
}



.play ul{
    list-style: none;
}

.play li{
    float: left;
    padding-left: 5px;
    padding-right: 40px;
}

.button-one{
    width: 225px;
    height: 70px;
    background-color: #ff00ff;
    border: 2px solid #ff00ff;
    color: black;
    text-align: center;
    padding-top: 20px;
    margin: auto 0;
    margin-top: 70px;
    margin-left: -35px;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;

}

.button-one:hover {
    background-color: transparent;
    color: white;
    border: 5px solid #ff00ff;
    padding-top: 17px;
}
  

.button-two{
    width: 225px;
    height: 70px;
    background-color: transparent;
    border: 5px solid #ff00ff;
    color: white;
    text-align: center;
    padding-top: 17px;
    margin: auto 0;
    margin-top: 70px;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.button-two:hover {
    background-color: #ff00ff;
    color: black;
    border: 5px solid #ff00ff;
    padding-top: 17px;
}

.button-like{
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-image: url(../assets/white_heart_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 5px solid #ff00ff;
    text-align: center;
    padding-top: 20px;
    margin: auto 0;
    margin-top: 70px;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-like:hover {
    background-color: #ff00ff;
    color: black;
    border: 5px solid #ff00ff;
    padding-top: 17px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: black;
}

footer p{
    color: white;
    padding-left: 122px;
}

.footer-con ul{
    list-style: none;
}

.footer-con li{
    float: left;
    height: 20px;
    background-color: none;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto 0;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: -80px;
    margin-top: 5px;
}

.button-you{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/youtube_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    margin-top: -40px;
    margin-left: 1058px;
    border-radius: 50px;
    cursor: pointer;
}
.button-face{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/facebook_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    margin-top: -65px;
    margin-left: 1128px;
    border-radius: 50px;
    cursor: pointer;
}
.button-twitter{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/twitter_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    margin-top: -90px;
    margin-left: 1198px;
    border-radius: 50px;
    cursor: pointer;
}
.button-insta{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/instagram_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    margin-top: -115px;
    margin-left: 1268px;
    border-radius: 50px;
    cursor: pointer;
}



.button-icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
    padding-top: 5px;
    margin: auto 0;
    margin-top: 10px;
    border-radius: 40px;
    margin-bottom: 50px;
    cursor: pointer;
}

.video{
    height: 390px;
    width: 100%;
    margin-left: 100px;
    margin-top: -60px;
    z-index: 1;
    position: relative;
}

.col-box-2{
    width: 100%;
    height: 560px;
    background-color: rgba(209, 51, 196, 0.4);
    padding-top: 40px;
    padding-left: 50px;
    margin-right: 80px;
    margin-top: -60px;
    margin-left: -115px;
    margin-bottom: 80px;
}

.col-box-3{
    width: 277px;
    height: 277px;
    background-color: lightgrey;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
}


.title{
    height: 35px;
    width: 100%;
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 122px;
}



.button-slide-2{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/left_arrow_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    margin: auto 0;
    margin-top: 80px;
    margin-right: 20px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}
.button-slide-2:hover {
    background-color: #ff00ff;
    border: 5px solid #ff00ff;
    padding-top: 9px;
}

.button-slide-1{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/right_arrow_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    margin: auto 0;
    margin-top: 80px;
    margin-right: 30px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}
.button-slide-1:hover {
    background-color: #ff00ff;
    border: 5px solid #ff00ff;
    padding-top: 9px;
}

.slider ul{
    list-style: none;
}

.slider li{
    float: right;
    height: 35px;
    background-color: none;
    padding-left: 5px;
    padding-right: 15px;
    margin: auto 0;
    margin-left: 3px;
    margin-right: 5px;
} 

.col-6-text{
    text-align: left;
    color: white;
    margin-top: -20px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

.col-6-text-2{
    text-align: justify;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
}

.col-6{
    background-color: black;
}

.col-3{
    background-color: black;
}

.thumbnail-1{
    width: 277px;
    height: 277px;
    background-image: url(../assets/lone.jpeg);
    background-position: center;
    background-size: cover;
}

.overlay{
    width: 277px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top:80px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}
.icon{
    width: 70px;
    height: 70px;
    background-color: #ff00ff;
    background-image: url(../assets/white_play_media_icon\ copy.svg);
    border-radius: 40px;
    margin: 0 auto;
    opacity: 0.6;
}
.icon:hover {
    background-color: #ff00ff;
    padding-top: 9px;
    opacity: 1;
}


.content-1{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.button-love{
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../assets/white_heart_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 3px solid #ff00ff;
    margin: auto 0;
    margin-left: 205px;
    margin-top: -50px;
    border-radius: 40px;
    cursor: pointer;
}
.button-love:hover {
    background-color: #ff00ff;
    color: black;
    border: 3px solid #ff00ff;
    padding-top: 9px;
}

.content h4, p{
    margin: 0;
}

.thumbnail-2{
    width: 277px;
    height: 277px;
    background-image: url(../assets/auraa.jpg);
    background-position: center;
    background-size: cover;
}
.content-2{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-3{
    width: 277px;
    height: 277px;
    background-image: url(../assets/mutant.jpeg);
    background-position: center;
    background-size: cover;
}
.content-3{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-4{
    width: 277px;
    height: 277px;
    background-image: url(../assets/FEAR.jpg);
    background-position: center;
    background-size: cover;
}
.content-4{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-5{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Moderat_Dlx_Cover_rgb-1200x1200.jpg);
    background-position: center;
    background-size: cover;
}
.content-5{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-6{
    width: 277px;
    height: 277px;
    background-image: url(../assets/flat.jpg);
    background-position: center;
    background-size: cover;
}
.content-6{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-7{
    width: 277px;
    height: 277px;
    background-image: url(../assets/fabric.jpeg);
    background-position: center;
    background-size: cover;
}
.content-7{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-8{
    width: 277px;
    height: 277px;
    background-image: url(../assets/justice.jpeg);
    background-position: center;
    background-size: cover;
}
.content-8{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-9{
    width: 277px;
    height: 277px;
    background-image: url(../assets/daft.jpeg);
    background-position: center;
    background-size: cover;
}
.content-9{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-10{
    width: 277px;
    height: 277px;
    background-image: url(../assets/visions.jpg);
    background-position: center;
    background-size: cover;
}
.content-10{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-11{
    width: 277px;
    height: 277px;
    background-image: url(../assets/moby.jpg);
    background-position: center;
    background-size: cover;
}
.content-11{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.thumbnail-12{
    width: 277px;
    height: 277px;
    background-image: url(../assets/insides.jpeg);
    background-position: center;
    background-size: cover;
}
.content-12{
    width: 277px;
    height: 77px;
    background-color: rgba(209, 51, 196, 0.4);
    margin-top: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
}

.col-6-text-2{
    width: 100%;
    height: 600px;
    text-align: left;
    padding-left: 80px;
    padding-right: 160px;;
    margin-top: 175px;
    background-color: black;
    color: white;
}
.col-6-text-2 ul{
    list-style: none;
}

.button-email{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/email_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    margin: auto 0;
    margin-top: 80px;
    margin-left: -25px;
    border-radius: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}
.button-email:hover {
    background-color: #ff00ff;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    cursor: pointer;
}
.button-email p{
    text-align: right;
    padding-left: 50px;
    width: 100px;
}

.button-cell{
    width: 50px;
    height: 50px;
    background-color: none;
    background-image: url(../assets/phone_icon\ copy.svg);
    background-position: center;
    background-size: cover;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    margin: auto 0;
    margin-top: -75px;
    margin-left: 155px;
    border-radius: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}
.button-cell:hover {
    background-color: #ff00ff;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    cursor: pointer;
}
.button-cell p{
    text-align: center;
    padding-left: 30px;;
    width: 200px;
}

.col-box-4{
    width: 100%;;
    margin-left: 100px;
    margin-top: -110px; 
    margin-bottom: 170px;
}

.form2 {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    margin-top: 175px;
    margin-left: -110px;
    background-color: rgba(209, 51, 196, 0.4);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.form2 h3{
    color: white;
}

.form2 input[type="text"] {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    border: none;
    background-color: rgba(209, 51, 196, 0.4);
    color: white;
}
.form2 input[type="text2"] {
    width: 100%;
    height: 100px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    border: none;
    background-color: rgba(209, 51, 196, 0.4);
    color: white;
}
.form2 input[type="email"] {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    border: none;
    background-color: rgba(209, 51, 196, 0.4);
    color: white;
}
.form2 select{
    width: 100%;
    height: 40px;
    
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    border: none;
    background-color: rgba(209, 51, 196, 0.4);
    color: white;
    cursor: pointer;
}
.form2 button[type="submit"] {
    width: 225px;
    height: 70px;
    background-color: #ff00ff;
    border: 2px solid #ff00ff;
    color: black;
    text-align: center;
    padding-top: 5px;
    margin: auto 0;
    margin-top: 50px;
    margin-left: 435px;
    margin-right: 30px;
    border-radius: 40px;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: bold;
}
.form2 button:hover {
    background-color: transparent;
    color: white;
    border: 5px solid #ff00ff;
    padding-top: 5px;
    font-weight: bold;
}

.form2 input[type=text]::placeholder {
    color: white;
}
.form2 input[type=text2]::placeholder {
    color: white;
}
.form2 input[type=email]::placeholder {
    color: white;
}
.form1 input[type=text]::placeholder {
    color: white;
}

.title-two{
    height: 35px;
    width: 100%;
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 122px;
    margin-top: 85px;
    margin-left: -20px;
    margin-bottom: 50px;
}

.col-box-6{
    height: 470px;
    width: 470px;
    background-image: url(../assets/pexels-everson-mayer-1481310.jpg); /*Photo by Everson Mayer: https://www.pexels.com/photo/low-light-photography-of-dj-controller-1481310/*/
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-bottom: 140px;
}

.col-box-6 h1{
    color: white;
    padding-top: 180px;
    text-align: center;
    font-weight: bold;
}
.col-box-6 h2{
    color: white;
    text-align: center;
    font-weight: bold;
}

.icon-2{
    width: 50px;
    height: 50px;
    background-image: url(../assets/stream_small_logo_white.svg);
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 100px;
}

.active-2{
    font-weight: bold;
    border-bottom: 3px solid #ff00ff;
}


.my{
    width: 100%;
    margin: 0 auto;
    margin-top: 135px;
    color: white;
    height: 30px;
}

.my ul{
    list-style: none;
}

.my li{
    float: left;
    width: 180px;
    margin: 0 auto;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.heading{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    height: 30px;
}

.heading ul{
    list-style: none;
}

.heading li{
    float: left;
    width: 140px;
    margin: 0 auto;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.song{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    height: 30px;
}

.song ul{
    list-style: none;
}

.song li{
    float: left;
    width: 140px;
    margin: 0 auto;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;;
    border-bottom: 3px solid #2b2b2b;
}

.more{
    background-image: url(../assets/);
    background-position: center;
    background-size: cover;
}